*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    background-color: #d6cbcb;
    /* height: 100%;
    width: 100%; */
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    align-items: center;

}
.box{
 
    
    width: 300px;
    padding: 30px;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    /* box-shadow: 3px 3px 5px rgb(46, 45, 45); */
    box-shadow: 0 8px 8px -4px #4c4c4c;
    background-color: white;

}
.name{
    padding-left: 15px;
   font-size: 20px;
    
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   
}
 .email{
    text-align: start;
    font-family:'Courier New', Courier, monospace;
    margin-top: 10px;
    font-size: 17px;
    padding-left: 5px;
}
.image{
    margin-top: 10px;
    width: 230px;
    font-family: Arial, Helvetica, sans-serif;

}